<div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Image</label>              
      <input type="file" class="form-control" id="image" name="image">              
    </div>
  </div>      

  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Candidate" id="candidate" name="candidateName">              
    </div>
  </div>   